body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #000;
}

header, footer {
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}

footer {
  border-top: 1px solid #eee;
  border-bottom: none;
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}

.button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.button-dark {
  background: #222;
  color: #fff;
}

.button-red {
  background: #e52525;
  color: #fff;
}

.main {
  padding: 80px 40px;
  text-align: center;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* css de l'image du logo.jpg */

.logo {
  height: 50px;
  width: 50px;
}

/*css du footer */

.footer {
  border-top: 1px solid #eee;
  padding: 40px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: #000;
  margin-bottom: 6px;
}

